.newExpense{
  background-color: #a892ee;
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  font-size: 1.1rem;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  &-show,button{
    font: inherit;
    cursor: pointer;
    padding: .5rem 2rem;
    border: 1px solid var(--secondary);
    background-color: var(--secondary);
    color: white;
    border-radius: 12px;
  }
  &-Form{
    @include d-flex(flex-start);
    flex-wrap: wrap;
    margin:0 0 1.5rem 1.5rem;
    text-align: left;
    &__price{
      margin-left: 3rem;
    }
    label{
      font-weight: bold;
      margin: .5rem 0;
      display: block;
    }
    input{
      font: inherit;
      padding: 0.5rem;
      border-radius: 6px;
      border: 1px solid #ccc;
      width: 20rem;
      max-width: 100%;
    }
    button{
      margin: 35px 10px 0 80px;
    }
  }
}