.expense-Item{
  &__date{
    @include d-flex;
    flex-direction: column;
    width: 5.5rem;
    height: 5.5rem;
    border: 1px solid #ececec;
    background-color: #2a2a2a;
    color: white;
    border-radius: 12px;
    &__month{
      font-size: 1rem;
      font-weight: bold;
    }
    &__day{
      font-size: 1.5rem;
      font-weight: bold;
    }
    &__year{
      font-size: 0.8rem;
    }
  }
}